%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
%meta(name="viewport" content="initial-scale=1.0")
= partial 'layouts/header_icons'
%meta(name="google-site-verification" content="")
%meta{ name: 'description', content: current_page.data.description }
%meta{ name: 'keywords', content: current_page.data.keywords }
%title= [truncate(current_page.data.title, :length => 77), 'Neo4j meets Ruby'].join(' - ').gsub("\n", '')
= stylesheet_link_tag "all", :media => "all"
= javascript_include_tag "all", async: true
= partial 'layouts/fonts'
