!!! 5
%html{ lang: I18n.locale }
  %head
    = partial 'layouts/html_head'
  %body{class: page_classes}
    = partial 'layouts/header'
    = partial 'layouts/nav'
    = yield
    = partial 'layouts/disqus' if show_disqus?
    = partial 'layouts/footer', locals: { url: "http://www.neo4j-ruby.org#{current_page.url}"}
