---
title: Rubygems for Neo4j Database
description: A list of neo4j-related gems
keywords: ruby, gems, rubygems, neo4j
---

.container
  .row
    .col-sm-12
      = partial :page_header
      - data.rubygems.each do |gem|
        .content
          %h3= gem.title
          %p= gem.description
          %ul.list-inline
            -  if gem.github
              %li= link_to 'Github', gem.github
            - if gem.rubygems
              %li= link_to 'Rubygems', gem.rubygems
