---
title: Rubygems for Neo4j Database
description: Add a description
keywords: Add, some, keywords
---

.container
  .row
    .col-sm-12
      = partial :page_header
      - data.rubygems.reverse.each do |gem|
        .rubygem
          %h3= gem.title
          %p= gem.description
          %ul.list-inline
            %li= link_to 'Github', gem.github
            %li= link_to 'Rubygems', gem.rubygems
